body{
    margin:0;
}

/* Navigation bar  */

.nav ul{
    list-style-type: none;
    overflow: none;
    background-color: #252525e0;
    padding:13px 0;
    position: fixed;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 100;
    backdrop-filter: blur(2px);
}
.nav li{
    padding-left: 20px;
    margin-left: 20px;
}
* {
    box-sizing: border-box;
  }
.nav a{
    float: none;    
    text-decoration: none;
    color: rgb(179, 176, 176);
    font-size: smaller;
    display: block;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a:hover{
    color: rgb(255, 253, 253);
}

/* divisions */

.div1{
    padding-top:46px;
    text-align: center;
    position: relative;
}
.div2,.div3,.div4{
    position: relative;
}
.bluebtn{
    position: absolute;
    top:160px;
    left:42%;
}
.trabtn{
    position:absolute;
    top: 160px;
    left: 53%;
}
.trabtn1{
    position: absolute;
    bottom:20px;
    left: 50%;
}
.bluebtn2{
    position: absolute;
    top:110px;
    left:19%;
    padding: 1vw 1.3vw;
}
.bluebtn2a{
    position: absolute;
    top:110px;
    left:66%;
    padding: 1vw 1.3vw;
}
.bluebtn2b{
    position: absolute;
    top:530px;
    left:15%;
    padding: 1vw 1.3vw;
}
.bluebtn2c{
    position: absolute;
    top:520px;
    left:69%;
    padding: 1vw 1.3vw;
}
.bluebtn2e{
    position: absolute;
    top:950px;
    left:69%;
    padding: 1vw 1.3vw;
}
.bluebtn2d{
    position: absolute;
    top:930px;
    left:15%;
    padding: 1vw 1.3vw;
}
.trabtn2{
    position:absolute;
    top: 530px;
    left: 26%;
    padding: 1vw 1.3vw;
}
.trabtn2a{
    position:absolute;
    top: 930px;
    left: 26%;
    padding: 1vw 1.3vw;
}
.main{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.div5,.div6,.div7,.div8,.div9,.div10{
    width: 50%;
}
.details{
    width: 70%;
    margin-left: 15%;
    text-align: center;
    background-color:#ffffff;
    border-bottom: 1px solid rgb(88, 86, 86);
    position: relative;
}
.p1{
    font-size: 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.shortcuts li{
    margin-top:8px;
}
.shortcuts{
    display: flex;
    white-space: nowrap;
    padding: 15px;
    background-color: #ffffff;
    margin: auto;
    width: 70%;
    position: relative;
    text-align: center;
    font-size: smaller;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.shortcuts div{
    flex-grow: 1;
    width: 20%;
    height: auto;
}
.shortcuts h3{
    font-size: 1vw;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    margin-bottom: .8em;
    margin-inline-end: 20px;
    outline: none;
}
.shortcuts ul{
    list-style-type: none;
    padding-left: 0;
}
.shortcuts ul li{
    padding-top: 5px;
}
.end{
    width: 70%;
    font-size: 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 15%;
    padding-bottom: 15px;
    position: relative;
    border-bottom: 1px solid rgb(119, 113, 113);
}
.customercare{
    width: 24%;
    font-size: 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 15%;
    padding-top: 15px;
    position: relative;
}
.footer{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.endlink{
    width: 46%;
    position: relative;
}
.a11:link{
    text-decoration: underline;
    color:#303233;
}
.a11:hover{
    color:#303233;
}
.li2{
    float: left;
    padding-left: 10px;
}
.ul2{
    list-style-type: none;
    font-size: 1vw;
    padding-left: 10px;
    padding-top: 19px;
    position: relative;
}


/* A tags */


.a2{
    font-size: 1.3vw;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0.9vw 1.8vw;
    border-style: solid;
    border-color: #0071e3;
    color: #0071e3;
    border-width: 1px;
    border-radius: 20px;
    text-decoration: none;
}
.a2:hover{
    background-color: #0071e3;
    color: white;
}
.a1{
    font-size: 1.3vw;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0.9vw 1.8vw;
    border-style: solid;
    border-color: #0071e3;
    color: rgb(255, 255, 255);
    background-color:#0071e3;
    border-width: 1px;
    border-radius: 20px;
    text-decoration: none;
}
.a1:hover{
    background-color: rgb(60, 139, 192);
    color: white;
}
.a13{
    text-decoration: none;
    color: #303233;
    position: relative;
    font-size:1vw;
}
.a13:hover{
    text-decoration: underline;
    color: #303233;
}




/* media tag (576px,768px,992px) */




@media screen and (max-width:580px) {
    .nav ul{
        flex-direction: column;
        text-align: center;
    }
    .div1{
        padding-top:290px;
        text-align: center;
    }
    .bluebtn{
        top: 40px;
        left: 40%;
    }
    .trabtn{
        top:40px
    }
    .trabtn1{
        top:135px;
        left: 50%;
    }
    .trabtn2{
        top:145px;
        left:25%
    }
    .trabtn2a{
        top:260px;
        left:27%
    }
    .bluebtn2a{
        top:20px;
    }
    .bluebtn2{
        top:15px;
    }
    .bluebtn2b{
        top:145px;
        left: 13%;
    }
    .bluebtn2c{
        top:140px;
    }
    .bluebtn2d{
        top:260px;
    }
    .bluebtn2e{
        top:265px;
    }
    .shortcuts{
        margin: auto;
        width: 70%;
        position: relative;
        text-align: center;
        font-size: smaller;
        line-height:1px;
        font-weight: 200;
    }
}