body{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ul1{
    list-style-type: none;
    overflow: hidden;
    background-color: #252525e0;
    padding:10px 0;
    position: fixed;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 100;
}
.li1{
    float: left;
    padding-left: 25px;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: rgb(179, 176, 176);
    font-size: smaller;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a:hover{
    color: rgb(255, 253, 253);
}
.div1{
    padding-top:30px;
    text-align: center;
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    color:rgb(53, 53, 53); ;
}
.a1{
    color: #0071e3;

}
.div2{
    background-color:#f3f3f3;
    width: 100%;
    height: 600px;
}
.a2{
    font-size: 17px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 19px;
    border-style: solid;
    border-color: #0071e3;
    color: #0071e3;
    border-width: 1px;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    left: 46%;
}
.a2:hover{
    background-color: #0071e3;
    color: white;
}
.img1{
    left: 50%;
    margin-left:0px;
    margin-top: 0px;
    width: 100%;
}
.div3{
    margin-top: 13px;
    background-color:#f3f3f3;
    width: 100%;
    height: 600px;
}
.img2{
    margin-top: 150px;
    width: 100%;
}
.img3{
    left: 50%;
    margin-left:390px;
    margin-top: 50px;
}
.a3{
    font-size: 15px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 19px;
    border-style: solid;
    border-color: #0071e3;
    color: #0071e3;
    border-width: 1px;
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: 44%;
}
.a3:hover{
    background-color: #0071e3;
    color: white;
}
.a7{
    font-size: 15px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 19px;
    border-style: solid;
    border-color: #0071e3;
    color: #0071e3;
    border-width: 1px;
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: 35%;
}
.a7:hover{
    background-color: #0071e3;
    color: white;
}
.a8{
    font-size: 15px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 19px;
    border-style: solid;
    border-color: #0071e3;
    color: #0071e3;
    border-width: 1px;
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: 42%;
}
.a8:hover{
    background-color: #0071e3;
    color: white;
}
.a4{
    font-size: 15px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 19px;
    border-style: solid;
    border-color: #0071e3;
    color: rgb(255, 255, 255);
    background-color:#0071e3;
    border-width: 1px;
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: 43%;
}
.a4:hover{
    background-color: rgb(60, 139, 192);
    color: white;
}
.div4{
    margin-top: 13px;
    background-color:#000000;
    width: 100%;
    height: 610px;
}
.img4{
    left: 50%;
    margin-left:420px;
    margin-top: 50px;
}
.img5{
    margin-top: 150px;
    width: 100%;
    bottom: 10px;
}
.div5,.div8{
    margin-left: 8px;
    margin-top: 19px;
    background-color:#000000;
    width: 49%;
    height: 590px;
    margin-bottom: 40px;
}
.div9{
    margin-left: 8px;
    margin-top: 19px;
    background-image: url();
    width: 49%;
    height: 590px;
    margin-bottom: 40px;
}
.div6,.div7,.div10{
    margin-left: 8px;
    margin-top: 19px;
    background-color:#f3f3f3;
    width: 49%;
    height: 590px;
    margin-bottom: 40px;
}
.img6{
    margin-left:230px;
    margin-top: 50px;
}
.img8{
    margin-left:160px;
    margin-top: 50px;
}
.img7{
    width: 100%;
    height: 400px;
    margin-top: 80px;
}
.a5{
    font-size: 15px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 19px;
    border-style: solid;
    border-color: #0071e3;
    color: rgb(255, 255, 255);
    background-color:#0071e3;
    border-width: 1px;
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: 40%;
}
.a5:hover{
    background-color: rgb(60, 139, 192);
    color: white;
}
.a6{
    font-size: 15px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 9px 15px;
    border-style: solid;
    border-color: #0071e3;
    color: rgb(255, 255, 255);
    background-color:#0071e3;
    border-width: 1px;
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: 33%;
}
.a6:hover{
    background-color: rgb(60, 139, 192);
    color: white;
}
.main{
    display: flex;
    flex-wrap: wrap;
}